.london{
    border: 1px;
    border-color: black;
    border-style: dashed;
}
p{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.movie_name{
    font-size: 25px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.movie_name i{
    float: right;
}
#star{
    color: gold;
}
nav{
    position: sticky;
    z-index:99999;
    top: 0;
}
.nasa_news p{
    font-size: 20px;
}
.nasa_news h4{
    font-size: 40px;
    border-bottom: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
.nasa_news{
    margin-top: 15px;
}
.good{
    float: left;
    text-align: center;
    margin: 20px;
}